body {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-size: 1.5rem;
    /* font-size: 24px; */
    margin-bottom: 16px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table {
    border: 2px solid black;
    width: 30%;
    /* margin: auto; */
}

.center {
    text-align: center;
}

.total-price {
    text-align: right;
    font-weight: bold;
}

.item-name {
    text-align: left;
}

thead {
    background-color: #879961;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

.price {
    background-color: red;
}